
    <!DOCTYPE html>
    <html>
        
    <head>
        {% load static %}

        <title>Login</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/login.css' %}">
        <style>
        #messages{
			background-color: grey;
			color: #fff;
			padding: 10px;
			margin-top: 10px;
		}

        </style>
    </head>
    <body>
        <main class="main">
            <div class="wrapper">
                <div class="card">
                    <div class="title">
                        <h1 class="title title-large">Sign Up</h1>
                        <p class="title title-subs">Already a member? <span><a href="{% url 'login' %}" class="ml-2">Sign In</a></span></p>
                    </div>
                    <form method="POST" action="" class="form">
                        {% csrf_token %}
                        <div class="form-group">
                            <input type="text" name="username" class="input-field" placeholder="Username">
                            
                        </div>

                        <div class="form-group">
                            <input type="email" name="email" class="input-field" placeholder="Someone@gmail.com">
                            
                        </div>
                        <div class="form-group">
                            <input type="password" name="password1" placeholder="Password" class="form-control" >
                        </div>

                        <div class="form-group">
                            <input type="password" name="password2" placeholder="Password" class="form-control" >
                            
                        </div>
                        
					{% for message in messages %}
					<p id="messages">{{message}} {{form.errors}}</p>
					{%endfor%}

    
                        <div class="form-group">
                            
                            <input type="submit" name="submit" class="input-submit" value="Register">
                            
                        </div>
                        
                        
                    </form>

                    <div class="line">
    
                 
    
                        <span class="line-bar"></span>
                        <span class="line-text"></span>
                        <span class="line-bar"></span>
                    </div>
                    
                </div>
            </div>
        </main>
    </body>
    </html>
    
    
    
